.title{
    text-transform: uppercase;
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: orange;
    text-decoration: underline;
    margin-bottom: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    margin: 10px;
    width: 100%;
}